{% extends 'landing/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% block extra_styles %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock extra_styles %}

<div class="container pb50">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post_list' %}" class="btn btn-dark mb-2">Back to Feed</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <div>
                    {% if post.image.count > 0 %}
                        <div class="row">
                            {% for img in post.image.all %}
                            <div class="col-md-4 col-xs-12">
                                <a href="{{ img.image.url }}"><img src="{{ img.image.url }}" class="post-image"></a>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="post-content">
                    
                    <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-user-circle-o"></i> <a href="{% url 'profile' post.author.profile.id %}" class="post-link text-primary">{{ post.author }}</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar-o"></i>{{ post.created_at }}
                        </li>
                        {% if request.user == post.author %}
                        <li class="list-inline-item"> <a href="{% url 'post_delete' post.id %}" class="fas fa-trash text-danger"></a></li>
                        <li class="list-inline-item"> <a href="{% url 'post_update' post.id %}" class="fas fa-pen text-primary "></a></li>
                        {% endif %}
                        
                    </ul>
                    <p class="lead">{{ post.body }}</p>
                    <ul class="list-inline share-buttons">
                        <div class="d-flex flex-row">
                            <form method="POST" action="{% url 'like' post.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="remove-default-btn" type="submit">
                                    <i class="far fa-thumbs-up"> <span>{{ post.get_likes_count }}</span></i>
                                </button>
                            </form>
                            
                            <form method="POST" action="{% url 'dislike' post.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="remove-default-btn" type="submit">
                                    <i class="far fa-thumbs-down"> <span>{{ post.get_dislikes_count }}</span></i>
                                </button>
                            </form>
                        </div>
                        
                    </ul>
                    
                    
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">Comments</h4>
                    {% for comment in comments %}
                    {% if comment.is_parent %}
                    <div class="media mb40">
                        <img class="round-circle post-img" height="30" width="30" src="{{ comment.author.profile.picture.url }}" />
                        <div class="media-body">
                            <h5 class="mt-0 font400 clearfix">
                                <a href="{% url 'profile' comment.author.profile.id %}" >@{{ comment.author }}</a>
                            </h5> 
                            {% if request.user == comment.author %}
                                <a href="{% url 'comment_delete' post.pk comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                            {% endif %}
                            <div class="body">
                                {{ comment.comment }}
                            </div>
                            
                            <div class="d-flex flex-row">
                                <form method="POST" action="{% url 'comment_like' post.id comment.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button class="remove-default-btn" type="submit">
                                        <i class="far fa-thumbs-up"> <span>{{ comment.get_likes_count }}</span></i>
                                    </button>
                                </form>
                                
                                <form method="POST" action="{% url 'comment_dislike' post.id comment.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button class="remove-default-btn" type="submit">
                                        <i class="far fa-thumbs-down"> <span>{{ comment.get_dislikes_count }}</span></i>
                                    </button>
                                </form>
                                <div>
                                    <button class="remove-default-btn"><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.id }}')"></i></button>
                                </div>
                            </div>
                            <hr>
                            <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.id }}">
                                
                            {% include 'social/_includes/comment_reply_form.html' %}

                            </div>
                            {% for child_comment in comment.children %}
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-10 col-sm-12 border-bottom">
                                    <p>
                                        <div>
                                            <a href="{% url 'profile' child_comment.author.profile.id %}">
                                                <img class="round-circle post-img" height="30" width="30" src="{{ child_comment.author.profile.picture.url }}" />
                                            </a>
                                            <p class="post-text">
                                                <a class="text-primary post-link" href="{% url 'profile' child_comment.author.profile.id %}">@{{ child_comment.author }}</a> {{ child_comment.created_at }}
                                            </p>
                                        </div>
                                        {% if request.user == child_comment.author %}
                                        <a href="{% url 'comment_delete' post.pk child_comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                                        {% endif %}
                                    </p>
                                    <p>{{ child_comment.comment }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                    
                    
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">Post a comment</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="clearfix float-right">
                            <button type="submit" class="btn btn-primary mt-2 btn-lg">Submit</button>
                        </div>
                    </form>
                        
                    
                </div>
            </article>
            <!-- post article-->
            
        </div>
        <div class="col-md-3 mb40">
            <!--/col-->
            <div>
                <h4 class="sidebar-title">Similar Posts</h4>
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="d-flex mr-3 img-fluid" width="64" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Lorem ipsum dolor sit amet</a></h5> April 05, 2017
                        </div>
                    </li>
                    <li class="media my-4">
                        <img class="d-flex mr-3 img-fluid" width="64" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Lorem ipsum dolor sit amet</a></h5> Jan 05, 2017
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex mr-3 img-fluid" width="64" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Lorem ipsum dolor sit amet</a></h5> March 15, 2017
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>

{% endblock content %}