{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post_list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="text-center">
                <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100" />
                {% if profile.name %}
                <h3 class="py-4">{{ profile.name }}
                    <span>
                        {% if request.user == user %}
                            <a href="{% url 'profile_update' profile.id %}" class="edit-color"><i class="far fa-edit"></i></a>
                        {% endif %}
                    </span>
                    {% else %}
                    <h3 class="py-4">{{ user.username }}
                        <span>
                            {% if request.user == user %}
                                <a href="{% url 'profile_update' profile.id %}" class="edit-color"><i class="far fa-edit"></i></a>
                            {% endif %}
                        </span>
                    </h3>
                    {% endif %}
                </h3>
            </div>

            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}

            <div class="mb-3">
                <a href="{% url 'followers_list' profile.id %}" class="post-link">Followers: {{ followers_count }}</a>
                
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 py-3">
            {% if profile.location %}
            <p>Location: {{ profile.location }}</p>
            {% endif %}

            {% if profile.birth_date %}
            <p>Birthday: {{ profile.birth_date }}</p>
            {% endif %}

            {% if user == request.user %}
                {% else %}
                {% if is_following %}
                    <form method="POST" action="{% url 'remove_follower' profile.id %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'add_follower' profile.id %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success" type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}

            {% if request.user not in profile.friend_requests.all %}
                <form method="POST" action="{% url 'add_friend' profile.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary ">Add Friend</button>
                    
                </form>
            {% else %}
                <form method="POST" action="{% url 'cancel_request' profile.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger ">Cancel request</button>
                    
                </form>
            {% endif %}
        </div>
    </div>

    {% for post in posts %}
        {% include 'social/_includes/post_card.html' %}
    {% endfor %}
</div>
{% endblock content %}